# Data preparation

## Imports & data

In [142]:
import pandas as pd
import numpy as np

athletes = pd.read_csv("../dataset/Olympic_Athlete_Bio.csv")
athlete_results = pd.read_csv("../dataset/Olympic_Athlete_Event_Results.csv")
countries = pd.read_csv("../dataset/Olympics_Country.csv")
games = pd.read_csv("../dataset/Olympics_Games.csv")

## Data merging

- Merge weight, height, born, and sex

In [143]:
dataset = athlete_results.merge(athletes[['athlete_id','weight', 'height', 'born', 'sex']], on='athlete_id', how='left')
dataset

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,weight,height,born,sex
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,na,False,na,na,1889-06-17,Male
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,na,False,na,na,1886-01-14,Male
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,na,False,na,na,1882-02-18,Male
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,na,False,na,na,1883-12-23,Male
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,na,False,na,na,1878-04-22,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314902,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,na,False,na,na,1993-01-11,Female
314903,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,na,False,76,175.0,2002-03-29,Female
314904,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,na,False,78,170.0,1992-04-23,Female
314905,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,na,False,75-78,175.0,1985-08-29,Female
314906,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,na,False,na,na,1993-08-10,Female

- Merge year

In [144]:
dataset = dataset.merge(games[['edition_id', 'year']], on='edition_id', how='left')
dataset

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,weight,height,born,sex,year
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,na,False,na,na,1889-06-17,Male,1908
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,na,False,na,na,1886-01-14,Male,1908
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,na,False,na,na,1882-02-18,Male,1908
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,na,False,na,na,1883-12-23,Male,1908
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,na,False,na,na,1878-04-22,Male,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314902,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,na,False,na,na,1993-01-11,Female,2022
314903,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,na,False,76,175.0,2002-03-29,Female,2022
314904,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,na,False,78,170.0,1992-04-23,Female,2022
314905,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,na,False,75-78,175.0,1985-08-29,Female,2022
314906,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,na,False,na,na,1993-08-10,Female,2022

## Remove columns

- Remove teamsports, keep only individual sports

In [145]:
dataset = dataset[dataset['isTeamSport'] == False]
dataset

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,weight,height,born,sex,year
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,na,False,na,na,1889-06-17,Male,1908
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,na,False,na,na,1886-01-14,Male,1908
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,na,False,na,na,1882-02-18,Male,1908
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,na,False,na,na,1883-12-23,Male,1908
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,na,False,na,na,1878-04-22,Male,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314902,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,na,False,na,na,1993-01-11,Female,2022
314903,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,na,False,76,175.0,2002-03-29,Female,2022
314904,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,na,False,78,170.0,1992-04-23,Female,2022
314905,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,na,False,75-78,175.0,1985-08-29,Female,2022
314906,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,na,False,na,na,1993-08-10,Female,2022

- Remove columns

In [146]:

dataset = dataset.drop(columns=['edition_id', 'result_id', 'athlete_id', 'isTeamSport', 'edition', 'country_noc', 'medal'])
dataset

,sport,event,athlete,pos,weight,height,born,sex,year
0,Athletics,"100 metres, Men",Ernest Hutcheon,DNS,na,na,1889-06-17,Male,1908
1,Athletics,"400 metres, Men",Henry Murray,DNS,na,na,1886-01-14,Male,1908
2,Athletics,"800 metres, Men",Harvey Sutton,3 h8 r1/2,na,na,1882-02-18,Male,1908
3,Athletics,"800 metres, Men",Guy Haskins,DNS,na,na,1883-12-23,Male,1908
4,Athletics,"800 metres, Men",Joseph Lynch,DNS,na,na,1878-04-22,Male,1908
...,...,...,...,...,...,...,...,...,...
314902,Bobsleigh,"Monobob, Women",Karlien Sleper,16,na,na,1993-01-11,Female,2022
314903,Bobsleigh,"Monobob, Women",Viktória Čerňanská,17,76,175.0,2002-03-29,Female,2022
314904,Bobsleigh,"Monobob, Women",Kim Yu-Ran,18,78,170.0,1992-04-23,Female,2022
314905,Bobsleigh,"Monobob, Women",Jazmine Fenlator-Victorian,19,75-78,175.0,1985-08-29,Female,2022
314906,Bobsleigh,"Monobob, Women",Lidiya Hunko,20,na,na,1993-08-10,Female,2022

## Mapping

In [147]:
# Map sports to numbers
sports_mapping = dataset['sport'].factorize()
sport_num = sports_mapping[0]
dataset['sport_num'] = sport_num

# Map events to numbers
events_mapping = dataset['event'].factorize()
event_num = events_mapping[0]
dataset['event_num'] = event_num

# Map sex to numbers
sex_mapping = dataset['sex'].factorize()
sex_num = sex_mapping[0]
dataset['sex_num'] = sex_num

dataset

,sport,event,athlete,pos,weight,height,born,sex,year,sport_num,event_num,sex_num
0,Athletics,"100 metres, Men",Ernest Hutcheon,DNS,na,na,1889-06-17,Male,1908,0,0,0
1,Athletics,"400 metres, Men",Henry Murray,DNS,na,na,1886-01-14,Male,1908,0,1,0
2,Athletics,"800 metres, Men",Harvey Sutton,3 h8 r1/2,na,na,1882-02-18,Male,1908,0,2,0
3,Athletics,"800 metres, Men",Guy Haskins,DNS,na,na,1883-12-23,Male,1908,0,2,0
4,Athletics,"800 metres, Men",Joseph Lynch,DNS,na,na,1878-04-22,Male,1908,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
314902,Bobsleigh,"Monobob, Women",Karlien Sleper,16,na,na,1993-01-11,Female,2022,76,657,1
314903,Bobsleigh,"Monobob, Women",Viktória Čerňanská,17,76,175.0,2002-03-29,Female,2022,76,657,1
314904,Bobsleigh,"Monobob, Women",Kim Yu-Ran,18,78,170.0,1992-04-23,Female,2022,76,657,1
314905,Bobsleigh,"Monobob, Women",Jazmine Fenlator-Victorian,19,75-78,175.0,1985-08-29,Female,2022,76,657,1
314906,Bobsleigh,"Monobob, Women",Lidiya Hunko,20,na,na,1993-08-10,Female,2022,76,657,1

## Conversions

In [148]:
dataset["pos"] = pd.to_numeric(dataset["pos"], errors="coerce")
dataset["height"] = pd.to_numeric(dataset["height"], errors="coerce")
dataset["weight"] = pd.to_numeric(dataset["weight"], errors="coerce")
dataset["born"] = pd.to_datetime(dataset["born"], errors="coerce")
dataset

,sport,event,athlete,pos,weight,height,born,sex,year,sport_num,event_num,sex_num
0,Athletics,"100 metres, Men",Ernest Hutcheon,NaN,NaN,NaN,1889-06-17,Male,1908,0,0,0
1,Athletics,"400 metres, Men",Henry Murray,NaN,NaN,NaN,1886-01-14,Male,1908,0,1,0
2,Athletics,"800 metres, Men",Harvey Sutton,NaN,NaN,NaN,1882-02-18,Male,1908,0,2,0
3,Athletics,"800 metres, Men",Guy Haskins,NaN,NaN,NaN,1883-12-23,Male,1908,0,2,0
4,Athletics,"800 metres, Men",Joseph Lynch,NaN,NaN,NaN,1878-04-22,Male,1908,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
314902,Bobsleigh,"Monobob, Women",Karlien Sleper,16.0,NaN,NaN,1993-01-11,Female,2022,76,657,1
314903,Bobsleigh,"Monobob, Women",Viktória Čerňanská,17.0,76.0,175.0,2002-03-29,Female,2022,76,657,1
314904,Bobsleigh,"Monobob, Women",Kim Yu-Ran,18.0,78.0,170.0,1992-04-23,Female,2022,76,657,1
314905,Bobsleigh,"Monobob, Women",Jazmine Fenlator-Victorian,19.0,NaN,175.0,1985-08-29,Female,2022,76,657,1
314906,Bobsleigh,"Monobob, Women",Lidiya Hunko,20.0,NaN,NaN,1993-08-10,Female,2022,76,657,1

## Calculations

In [149]:
# Calculate the age
dataset['age'] = dataset['year'] - dataset['born'].dt.year

dataset

,sport,event,athlete,pos,weight,height,born,sex,year,sport_num,event_num,sex_num,age
0,Athletics,"100 metres, Men",Ernest Hutcheon,NaN,NaN,NaN,1889-06-17,Male,1908,0,0,0,19.0
1,Athletics,"400 metres, Men",Henry Murray,NaN,NaN,NaN,1886-01-14,Male,1908,0,1,0,22.0
2,Athletics,"800 metres, Men",Harvey Sutton,NaN,NaN,NaN,1882-02-18,Male,1908,0,2,0,26.0
3,Athletics,"800 metres, Men",Guy Haskins,NaN,NaN,NaN,1883-12-23,Male,1908,0,2,0,25.0
4,Athletics,"800 metres, Men",Joseph Lynch,NaN,NaN,NaN,1878-04-22,Male,1908,0,2,0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314902,Bobsleigh,"Monobob, Women",Karlien Sleper,16.0,NaN,NaN,1993-01-11,Female,2022,76,657,1,29.0
314903,Bobsleigh,"Monobob, Women",Viktória Čerňanská,17.0,76.0,175.0,2002-03-29,Female,2022,76,657,1,20.0
314904,Bobsleigh,"Monobob, Women",Kim Yu-Ran,18.0,78.0,170.0,1992-04-23,Female,2022,76,657,1,30.0
314905,Bobsleigh,"Monobob, Women",Jazmine Fenlator-Victorian,19.0,NaN,175.0,1985-08-29,Female,2022,76,657,1,37.0
314906,Bobsleigh,"Monobob, Women",Lidiya Hunko,20.0,NaN,NaN,1993-08-10,Female,2022,76,657,1,29.0

## Remove NaN's

In [150]:
dataset = dataset.dropna()
dataset

,sport,event,athlete,pos,weight,height,born,sex,year,sport_num,event_num,sex_num,age
20,Athletics,"3,500 metres Race Walk, Men",Harry Kerr,3.0,76.0,184.0,1879-01-28,Male,1908,0,9,0,29.0
70,Swimming,"400 metres Freestyle, Men",Frank Beaurepaire,2.0,65.0,170.0,1891-05-13,Male,1908,4,22,0,17.0
75,Swimming,"1,500 metres Freestyle, Men",Frank Beaurepaire,3.0,65.0,170.0,1891-05-13,Male,1908,4,23,0,17.0
130,Tennis,"Singles, Covered Courts, Men",Tony Wilding,3.0,84.0,188.0,1883-10-31,Male,1912,6,34,0,29.0
360,Artistic Swimming,"Solo, Women",Roswitha Lopez,18.0,58.0,165.0,1969-11-13,Female,1988,13,62,1,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314898,Bobsleigh,"Monobob, Women",Andreea Grecu,12.0,74.0,180.0,1994-01-10,Female,2022,76,657,1,28.0
314899,Bobsleigh,"Monobob, Women",Mariama Jamanka,13.0,75.0,169.0,1990-08-23,Female,2022,76,657,1,32.0
314900,Bobsleigh,"Monobob, Women",Kati Beierl,14.0,73.0,171.0,1993-08-16,Female,2022,76,657,1,29.0
314903,Bobsleigh,"Monobob, Women",Viktória Čerňanská,17.0,76.0,175.0,2002-03-29,Female,2022,76,657,1,20.0
314904,Bobsleigh,"Monobob, Women",Kim Yu-Ran,18.0,78.0,170.0,1992-04-23,Female,2022,76,657,1,30.0

In [151]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80906 entries, 20 to 314904
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sport      80906 non-null  object
 1   event      80906 non-null  object
 2   athlete    80906 non-null  object
 3   pos        80906 non-null  float64
 4   weight     80906 non-null  float64
 5   height     80906 non-null  float64
 6   born       80906 non-null  datetime64[ns]
 7   sex        80906 non-null  object
 8   year       80906 non-null  int64
 9   sport_num  80906 non-null  int64
 10  event_num  80906 non-null  int64
 11  sex_num    80906 non-null  int64
 12  age        80906 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(4)
memory usage: 8.6+ MB

## Correlation

In [152]:
dataset.corr(numeric_only=True)

,pos,weight,height,year,sport_num,event_num,sex_num,age
pos,1.000000,-0.109169,-0.047392,0.089321,0.106717,0.018472,-0.050561,0.028669
weight,-0.109169,1.000000,0.746315,-0.034523,-0.072072,-0.179213,-0.525910,0.138662
height,-0.047392,0.746315,1.000000,0.013791,-0.076128,-0.201485,-0.536039,0.061781
year,0.089321,-0.034523,0.013791,1.000000,0.220837,0.178167,0.177432,0.123650
sport_num,0.106717,-0.072072,-0.076128,0.220837,1.000000,0.419693,0.019259,0.084585
event_num,0.018472,-0.179213,-0.201485,0.178167,0.419693,1.000000,0.275225,0.078388
sex_num,-0.050561,-0.525910,-0.536039,0.177432,0.019259,0.275225,1.000000,-0.135268
age,0.028669,0.138662,0.061781,0.123650,0.084585,0.078388,-0.135268,1.000000